<html>
	<head>
		<title>Add a death!</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		   table,tr {
		      border:1px solid black;
		   }
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            	<a href="/home" class="btn btn-outline-success my-2 my-sm-0" style="float: left;">Dashboard</a>
            </div>
        </nav>
		<form id='adddeath' action="/home/adddeath" method='POST'>
			<table style="width: 50%">
				<tr>
					<td></td>
					<td>
						<h2>Add a death!</h2>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<label for="deceased">Deceased:</label>
					</td>
					<td>
						<input type="text" id="deceased" name="deceased" required />
					</td>
				<tr>
					<td>
						<label for="deathdate">Death date:</label>
					</td>
					<td>
						<input type="date" id="deathdate" name="deathdate" value="1900-01-01" min="1980-01-01" max="2023-12-31" required />
					</td>
				</tr>
				<tr>
					<td>
						<label for="relation">Relation:</label>
					</td>
					<td>
						<input type="text" id="relation" name="relation"/>
					</td>
				</tr>
				<tr><br/></tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" class="btn btn-primary">Submit</button>
					</td>
					<td></td>
				</tr>
			</table>
		</form>
	</body>
</html>