<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Administator's dashboard</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="styles.css">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>
	<body>
		<div align="center" style="width: 1500px;">
			<h2>Administrator's dashboard</h2>
	        <div>
	            <div style="float: left; width: 18%; padding: 10px; margin:20px; height: 200px;">
	                <img class="card-img-top" src="/images/birthdays.png" alt="Birthdays" style="object-fit:fill; object-position: left; width:200px; height:300px; border: solid 1px #CCC">
	                <br/>
	                <div class="card-body" >
	                    <a href="/admin/birthdays" class="btn btn-primary">Birthdays</a>
	                </div>
	            </div>
	            <br/>
	            <div style="float: left; width: 18%; padding: 10px; height: 200px;">
	                <img class="card-img-top" src="/images/deathanniversaries.png" alt="Death Anniversaries" style="object-fit:fill; object-position: left; width:200px; height:300px; border: solid 1px #CCC">
	                <br/>
	                <div class="card-body">
	    	            <a href="/admin/deaths" class="btn btn-primary">Death Anniversaries</a>                    
	                </div>
	            </div>
	            <br/>
	            <div style="float: left; width: 18%; padding: 10px; height: 200px;">
	              	<img class="card-img-top" src="/images/weddinganniversaries.png" alt="Wedding Anniversaries" style="object-fit:fill; object-position: left; width:200px; height:300px; border: solid 1px #CCC">
	                <br/>
	                <div class="card-body">
	                   <a href="/admin/weddings" class="btn btn-primary">Wedding Anniversaries</a>
	                </div>
	            </div>
	            <br/>
	            <div style="float: left; width: 18%; padding: 10px; height: 200px;">
	              	<img class="card-img-top" src="/images/workanniversaries.png" alt="Work Anniversaries" style="object-fit:fill; object-position: left; width:200px; height:300px; border: solid 1px #CCC">
	                <br/>
	                <div class="card-body">
	                   <a href="/admin/works" class="btn btn-primary">Work Anniversaries</a>
	                </div>
	            </div>
	            <br/>
	            <div style="float: left; width: 18%; padding: 10px; height: 200px;">
	              	<img class="card-img-top" src="/images/overview.png" alt="Overview" style="object-fit:fill; object-position: left; width:200px; height:300px; border: solid 1px #CCC">
	                <br/>
	                <div class="card-body">
	                   <a href="/admin/overview" class="btn btn-primary">Overview</a>
	                </div>
	            </div>
	        </div>
		</div>
	</body>
</html>