<html>
	<head>
		<title>All Birthdays</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="table-responsive" style="text-align:center;" th:if="${not#lists.isEmpty(birthdays)}">
						<caption><h2>All Birthdays</h2></caption>
						<br/>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Who's BIRTHDAY is it?</th>
									<th>Birthday DATE</th>
									<th>How's he/she related to me?</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="birthday : ${birthdays}">
									<td th:text = "${birthday.birthdayId}"></td>
									<td th:text = "${birthday.birthdayBaby}"></td>
									<td th:text = "${birthday.birthDate}"></td>
									<td th:text = "${birthday.relation}"></td>
									<td>
										<form th:action="@{/admin/birthdays/update/{id}(id=${birthday.birthdayId})}" method="POST">
						                    <input type="submit" value="Update" class="btn btn-primary" onclick="return confirm('Are you sure?')">
						                </form>
						            </td>
									<td>
										<form th:action="@{/admin/birthdays/delete/{id}(id=${birthday.birthdayId})}" method="POST">
						                    <input type="submit" value="Delete" class="btn btn-primary" style="background-color: red" onclick="return confirm('Are you sure?')">
						                </form>
						            </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>