<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>User's dashboard</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type = "text/javascript" >  
		    function preventBack() {
		    	window.history.forward();
		    }  
		    setTimeout("preventBack()", 0);
		    window.onunload = function () { null };  
		</script>
	</head>
	<body>
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            	<a href="/" class="btn btn-outline-success my-2 my-sm-0" style="float: right;">Sign out</a>
            </div>
        </nav>
		<div align="center" style="width: 1500px;">
			<h2>User's dashboard</h2>
	        <div>
	            <div style="float: left; padding: 15px;">
	                <a href="/addbirthday" class="btn btn-primary">Add a BIRTHDAY</a>
	            </div>
	            <div style="float: left; padding: 15px;">
	    	        <a href="/adddeath" class="btn btn-primary">Add a DEATH ANNIVERSARY</a>
	            </div>
	            <div style="float: left; padding: 15px;">
	                <a href="/addwedding" class="btn btn-primary">Add a WEDDING ANNIVERSARY</a>
	            </div>
	            <div style="float: left; padding: 15px;">
	                <a href="/addwork" class="btn btn-primary">Add a WORK ANNIVERSARY</a>
	            </div>
	        </div>
		</div>
	</body>
</html>