<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Administator's dashboard</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>
	<body>
		<div align="center" style="width: 1500px;">
			<h2>User's dashboard</h2>
	        <div>
	            <div style="float: left; width: 18%; padding: 10px; margin:20px; height: 200px;">
	                <div class="card-body" >
	                    <a href="/home/addbirthday" class="btn btn-primary">Add a BIRTHDAY</a>
	                </div>
	            </div>
	            <br/>
	            <div style="float: left; width: 18%; padding: 10px; height: 200px;">
	                <div class="card-body">
	    	            <a href="/home/adddeath" class="btn btn-primary">Add a DEATH ANNIVERSARY</a>                    
	                </div>
	            </div>
	            <br/>
	            <div style="float: left; width: 18%; padding: 10px; height: 200px;">
	                <div class="card-body">
	                   <a href="/home/addwedding" class="btn btn-primary">Add a WEDDING ANNIVERSARY</a>
	                </div>
	            </div>
	            <br/>
	            <div style="float: left; width: 18%; padding: 10px; height: 200px;">
	                <div class="card-body">
	                   <a href="/home/addwork" class="btn btn-primary">Add a WORK ANNIVERSARY</a>
	                </div>
	            </div>
	            <br/>
	        </div>
		</div>
	</body>
</html>