<html>
	<head>
		<title>All Wedding-anniversaries</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="table-responsive" style="text-align:center;" th:if="${not#lists.isEmpty(weddings)}">
						<caption><h2>All Weddings</h2></caption>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Who's WEDDING was it?</th>
									<th>Wedding DATE</th>
									<th>How's the couple related to me?</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="wedding : ${weddings}">
									<td th:text = "${wedding.weddingId}"></td>
									<td th:text = "${wedding.weddedCouple}"></td>
									<td th:text = "${wedding.weddingDate}"></td>
									<td th:text = "${wedding.relation}"></td>
									<td>
										<form th:action="@{/admin/weddings/update/{id}(id=${wedding.weddingId})}" method="POST">
						                    <input type="submit" value="Update" class="btn btn-primary" onclick="return confirm('Are you sure?')">
						                </form>
									</td>
									<td>
										<form th:action="@{/admin/weddings/delete/{id}(id=${wedding.weddingId})}" method="POST">
						                    <input type="submit" value="Delete" class="btn btn-primary" style="background-color: red" onclick="return confirm('Are you sure?')">
						                </form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>